/*----------------MenuBar----------------------*/

.menu2{
    width: 20%;
    height: 20%;
}



.menu{
    width: 100%;
    height: 80px;
    background-color: white;
    position: relative;
    z-index: 1;
}

.menuLine{
    display: inline-block;
    position: relative;
    left: 46%;
    top: 5px;
    z-index: 2
}
@-webkit-keyframes bounceInLeft {
	0% {
		opacity: 0;
		left:-500px;
	}
	
	60% {
		opacity: 1;
		left:90px;
	}
    70% {
		opacity: 1;
		left:80px;
	}
    80% {
		opacity: 1;
		left:30px;
	}
	
	90% {
		left: 40px;
	}
	
	100% {
		left: 60px;
	}
}
#logo{
    display: inline-block;
    position: absolute;
    top: 6px;
    left: 28px;
    animation: bounceInLeft 1s 1;
    z-index: 1;
    width: 74px;
    height: 80px;
}
.imglogo{
        width: 100%;
}

.profil{
    border-radius: 50px;
    width: 65px;
    border:2px solid;
    border-color: red;
    -webkit-transition-timing-function:ease;
transition-duration:0.7s;
}
.profil:hover{
    -webkit-transform:rotate(360deg);
}


.searchbar{
    position:absolute;
    left: 113px;
    top: 17px;
    z-index: 1;
}
.search-bar {
  width: 0;
  height: 30px;
border-radius: 10px;
  background: #dbdbdb;
  position: absolute;
  left: 60px;
    top: 10px;
  transition: width 300ms ease-in-out;
}
.search-bar.active {
    width: 220px;
    height: 30px;
    border-radius: 10px;
}
.search-bar input {
  background: transparent;
  outline: 0;
  border: 0;
  width: 100%;
  height: 100%;
font: 15px/15px helvetica;
  color: #Fc3c3c ;
  box-sizing: border-box;
  padding: 0 20px;
}

.search {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    background: white;
    transition: background 200ms ease-in-out;
    border-radius: 50px;
}
.search:hover {
  background: #Fc3c3c;;
  cursor: pointer;
}
.search.active .search-icon {
  width: 25px;
  height: 25px;
}
.search.active .search-icon:before, .search.active .search-icon:after {
  top: 2px;
  right: 8px;
}
.search.active .search-icon:after {
  transform: rotate(45deg);
}

.search-icon {
  width: 20px;
    height: 20px;
  background: transparent;
  border: 3px solid #dbdbdb;
  display: block;
  border-radius: 15px;
  position: relative;
  transition: all .2s ease-in-out;
  margin: 12px 12px;
}
.search-icon:before, .search-icon:after {
  width: 3px;
  height: 15px;
  display: block;
  content: '';
  background: #dbdbdb;
  position: absolute;
  top: 12px;
  right: -5px;
  transform: rotate(-45deg);
  transition: all .2s ease-in-out;
}




/*----------menubutton--------------------*/

.menubutton{
    margin-left: 437px;
    position: absolute;
    top: -1px;
    z-index: 1;
}
.border{
    display: inline-block;
    border: 1px solid;
    padding: 20px 40px 23px 20px;
    background-color: white;
    border-color: white;
    
}

.border:hover{
    border: 1px solid;
    padding: 20px 40px 80px 20px;
    background-color: white;
    border-color: #dbdbdb;
    border-bottom: 3px solid;
    border-bottom-color: #Fc3c3c;
    -webkit-transition:  0.5s linear;
}

#base{
    width: 23px;
    height: 23px;
    display: inline-block;
    background-size: 23px; 
    margin-top: 10px;
    margin-left: -3px;
}

.loupe{
    background: url(../img/home.png) no-repeat;
    /*margin-right: 20px;*/
    top: -18px;
}
.loupe:hover{
    background-image: url(../img/home2.png);
    background-repeat: no-repeat;
    background-size: 23px;
}

.radio{
    background: url(../img/microphone.png) no-repeat;
    /*margin-right: 20px;*/
    top: -18px;
}
.radio:hover{
    background-image: url(../img/microphone2.png);
    background-repeat: no-repeat;
    background-size: 23px; 
}
#marginR{
    margin-right: 60px;
}


.shop{
    background: url(../img/shopping-cart1.png) no-repeat;
    /*margin-left: 20px;*/
    top: -18px;
    visibility: hidden;
}

.shop:hover{
    background-image: url(../img/shopping-cart2.png);
    background-repeat: no-repeat;
    background-size: 23px;
}
#marginL{
    margin-left: 60px;
}


.star{
    background: url(../img/star.png) no-repeat;
    /*margin-left: 20px;*/
    top: -20px;
    
}

.star:hover{
    background-image: url(../img/star2.png);
    background-repeat: no-repeat;
    background-size: 23px;
}

/*----------menu--------------------*/
*, *:before, *:after {
  box-sizing: border-box;
}
@-webkit-keyframes bounceInRight {
	0% {
		opacity: 0;
		left: 1500px;
	}
	
	60% {
		opacity: 1;
		left:1060px;
	}
    70% {
		opacity: 1;
		left:1050px;
	}
    80% {
		opacity: 1;
		left:1000px;
	}
	
	90% {
		left: 1010px;
	}
	
	100% {
		left: 1030px;
	}
}

.hamburger {
    margin: 100px;
    width: 33px;
    height: 27px;
    position: absolute;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    left: 1030px;
    top: -73px;
    animation: bounceInRight 1s 1;
}
.hamburger > div {
  width: 100%;
  height: 3px;
  background: #dbdbdb;
  position: absolute;
}
.hamburger > div:before {
  position: absolute;
  background: inherit;
  content: "";
  width: 3px;
  height: 3px;
  top: 0px;
  left: -1.5px;
  border: 1px solid #dbdbdb;
  border-radius: 50%;
}
.hamburger > div:after {
  content: "";
  position: absolute;
  background: inherit;
  width: 3px;
  height: 3px;
  top: 0px;
  right: -1.5px;
  border: 1px solid #dbdbdb;
  border-radius: 50%;
}
.hamburger .pipe1 {
  top: 0;
}
.hamburger .pipe2 {
  top: 12px;
  opacity: 1;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.hamburger .pipe3 {
  top: 24px;
}
.hamburger .pipe1, .hamburger .pipe3 {
  -webkit-transition: -webkit-transform 0.6s linear;
  transition: -webkit-transform 0.6s linear;
  transition: transform 0.6s linear;
  transition: transform 0.6s linear, -webkit-transform 0.6s linear;
}
.hamburger.clicked {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}
.hamburger.clicked .pipe1, .hamburger.clicked .pipe3 {
  position: absolute;
  margin: 0;
  top: 12px;
  -webkit-transition: -webkit-transform 0.6s linear .3s;
  transition: -webkit-transform 0.6s linear .3s;
  transition: transform 0.6s linear .3s;
  transition: transform 0.6s linear .3s, -webkit-transform 0.6s linear .3s;
}
.hamburger.clicked .pipe2 {
  opacity: 0;
  -webkit-transition: all 0.4s ease-in .3s;
  transition: all 0.4s ease-in .3s;
}
.hamburger.clicked .pipe1 {
  -webkit-transform: rotate(-405deg);
          transform: rotate(-405deg);
}
.hamburger.clicked .pipe3 {
  -webkit-transform: rotate(-315deg);
          transform: rotate(-315deg);
}


.menucome{
    background-color: black;
    width: 25%;
    height: 100px;
    position: relative;
    left: 951px;
    top: -212px;
}

/*----------menu--------------------*/
#info{
    display: none;
}

#info:target{
    width: 60%;
    height: 151px;
    background-color: white;
    position: absolute;
    top: 80px;
    left: 20%;
    display: block;
    animation: down 3s 1;
    opacity: 0.9;

}
@-webkit-keyframes down {
	0% {
		top:-500px;
	}
	
	100% {
		top: 80px;
	}
}

#close:target{
    animation: up 3s 1;
}



@-webkit-keyframes up {
	0% {
		top:80px;
	}
	
	100% {
		top: -500px;
	}
}


#question{
    position: relative;
    top: -53px;
    left: 916px;
    z-index: 1;
    width: 2%;
}

.img{
    width: 2%;
}
#close{
    position: relative;
    left: 12px;
    top: -98px;

}
.imgclose{
        width: 25px;
}

#infobloc{
    display: inline-block;
    width: 20%;
    height: 120px;
    margin-right: 19px;
    text-align: center;
    position:relative;
}

.info1,.info2{
    top: -44px;
}
.info4{
    top: -18px;
}
.info3{
    top: 8px;
}
.title1{
    display: block;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}
.p1{
    font-family: 'Open Sans Condensed', sans-serif;
    margin-top: 10px;
    position: relative;
    font-size: 13px;
}

.infoimg{
    width: 32px;
}
/*----------page--------------------*/
#section2{
    height: 1450px;
    width: 100%;
    
}


.nekfeu{
    width: 100%;
    position: relative;
    top: -29px;
    z-index: -1;
}

.blocAlbum{
    width: 80%;
    height: 800px; 
    margin-left: 10%;
    background-color: white;
    
}

.blocT-I{
    width: 100%;
    height: 205px;
;
}

.albumNekfeu{
    width: 20%;
}

.blocT1{
    display: inline-block;
    position: absolute;
    width: 20%;
}
    .type{
        font-family: 'Montserrat', sans-serif;
        color: #6d6d6d;
        margin-top: 15px;
    }
    .tAlbum{
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 50px;
        margin-top: 15px;
    }
    .tArtist{
        font-family: 'Montserrat', sans-serif;
        color: #6d6d6d;
        margin-top: 16px;
    }
        .deco{
            text-decoration: none;
            color:black;
        }
        .deco:hover{
            border-bottom: 1px solid;
        }


.plus{
    margin-top: 15px;
    height: 50px;
}
.plus a{
    text-decoration: none;
}
.more{
   font-family: 'Montserrat', sans-serif;
    display: inline;
    border-radius: 42px;
    padding: 8px 50px 8px 50px;
    color: white;
    font-size: 15px;
    position: absolute;
    background-color: #Fc3c3c;

}
.more:hover{
    font-size: 18px;
}

#more2{
    padding: 7px 50px 7px 50px;
    left: 278px;
    color:#Fc3c3c;
    background-color: white;
    border: 1px solid;
    border-color:#Fc3c3c;
}


#listM{
    width: 100%;
    height: 460px;
    margin-top: 30px;
    transition: all 2s ease-in-out;
}

.description {
    display: -webkit-inline-box;
    margin-left: 10px;
}
    .dieze{
        margin-right: 170px;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 20px;
    }
    .titreC{
        margin-right: 720px;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 20px;
    }
    .time{
        width: 65%;
    }

.allTitre{
    display: -webkit-inline-box;
    padding-left: 10px;
    border-top: 1px solid;
    width: 100%;
}
.allTitre:hover{
    background-color:#dbdbdb;
    
}


.number1{
    padding-right: 70px;
    padding-top: 7px;
    width: 7%;
}

.number2{
    position: relative;
    top: 10px;
    left: 10px;
}


.play1{
    padding-right: 68px;
    top: -8px;
    position: relative;
    width: 8%;
    text-align: left;
    left: 85px;
}
.titre1{ 
    padding-top: 7px;
    width: 75%;

}

.titre1_{ 
    /* padding-top: 7px; */
    width: 75%;
    position: relative;
    top: -30px;
    left: 188px;
}

.time1{
   padding-top: 7px;
}

#listM div {
     height: 34px;
    width: 100%;
    /* border-top: 1px solid; */
    border-bottom: 1px solid;
}

#listM div a {
    text-decoration: none;
    color:black;
    font-family: 'Montserrat',sans-serif;
    text-transform: uppercase;
    font-size:14px;
}

.active2 {
    height: 80px;
    width: 500px;
    left: -5%;
    position: relative;
    -webkit-transition: all 0.8s;
    /* text-align: left; */
    transform: scale(1.1);
}

.duration {
    position: relative;
    text-align: right;
    top: -44px;
    right: 183px;
}

.fix2 {
    position: fixed;
    height: 83%;
    width: 82%;
    top: 79%;
    left: 17%;
    margin: 0 auto;
}
/*----------FOOTER--------------------*/

#footer{
    height: 200px;
    border-top: solid 1px;
    border-color: #dbdbdb;
}

.imglogo2{
    width: 11%;
    margin-left: 30px;
    top: 35px;
    position: relative;
}
.blocFooter{
    position: relative;
    top: -82px;
    left: 346px;
    width: 40%;

}

.societe{
    display: inline-block;
    margin-right: 50px;
}
.societe h4{
    font-family: 'Raleway', sans-serif;
    color: #Fc3c3c;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 30px;
}

.footerP{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    margin-bottom: 10px;
}
.footerP:hover{
    color:#Fc3c3c;
}

.deco{
    text-decoration: none;
    color: black;
}

.social{
    position: relative;
    top: -169px;
    left: 1001px;
    width: 220px;
}
ul {
  margin:0;
  padding:0;
}

ul li {
  list-style:none;
  margin:0;
  padding:5px;
  display:inline-block;
  height:50px;
  width:50px;
}

svg {
	height:50px;
	width:30px;
	fill: black;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.2s;
	cursor:pointer;
}
#facebook{
        width: 16px;
}

svg:hover {
	fill:#Fc3c3c;
}

svg:active {
	fill:#00aeef;
}






















